<!DOCTYPE html>

<!-- START HEAD -->
<head>
    <meta charset="UTF-8" />

    <title>Portfolios | only for creative minds.</title>

    <!-- RESET STYLESHEET -->
    <link rel="stylesheet" type="text/css" media="all" href="css/reset.css" />
    <!-- BOOTSTRAP STYLESHEET -->
    <link rel="stylesheet" type="text/css" media="all" href="css/bootstrap.css" />
    <!-- MAIN THEME STYLESHEET -->
    <link rel="stylesheet" type="text/css" media="all" href="style.css" />

    <link rel='stylesheet' id='custom-css'  href='css/custom.css' type='text/css' media='all' />
    <link rel='stylesheet' id='google-fonts-css'  href='http://fonts.googleapis.com/css?family=Oswald%7CDroid+Sans%7CPlayfair+Display%7COpen+Sans+Condensed:300,400,800%3A300%7CRokkitt%7CShadows+Into+Light%7CMaven+Pro:400,700%7CAbel%7CMontez' type='text/css' media='all' />
    <link rel='stylesheet' id='responsive-css'  href='css/responsive.css' type='text/css' media='all' />
    <link rel='stylesheet' id='tipsy-css'  href='css/tipsy.css' type='text/css' media='all' />

    <link rel='stylesheet' id='fonts-css'  href='css/font-awesome.css' type='text/css' media='all' />
    <link rel='stylesheet' id='slide-details-css'  href='portfolios/pinterest/css/style.css' type='text/css' media='all' />
    <link rel='stylesheet' id='shortcode-css'  href='css/shortcodes.css' type='text/css' media='all' />

    <link rel='stylesheet' id='colorbox-css'  href='css/colorbox.css' type='text/css' media='all' />
    <link rel='stylesheet' id='custom-button-mfast-3-css'  href='css/buttons/mfast-3.css' type='text/css' media='all' />

    <!-- [favicon] begin -->
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <!-- [favicon] end -->

    <link rel='stylesheet' id='thickbox-css'  href='js/thickbox/thickbox.css' type='text/css' media='all' />

    <script type='text/javascript' src='js/jquery/jquery.js'></script>
</head>
<!-- END HEAD -->

<!-- START BODY -->
<body class="home page no_js responsive stretched">

<!-- START BG SHADOW -->
<div class="bg-shadow">

<!-- START WRAPPER -->
<div id="wrapper" class="container group">
<!-- START TOP BAR -->

<!-- START HEADER -->
<div id="header" class="group">
    <div class="group container">
        <div class="row">
            <div class="span12">

                <div class="row">
                    <div id="logo" class="span4 group">
                        <h4>PORTFOLIOS</h4>
                        <p id="tagline">only for creative minds.</p>
                    </div>

                    <div id="menu" class="span8 group">
                        <!-- START MAIN NAVIGATION -->
                        <div class="menu">
                            <ul id="nav" class="sf-menu">
                                <li>
                                    <a href="index.html">
                                        Home
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        Register
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        Log In
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div id="border-header"></div>
</div>

<div id="primary" class="sidebar-no">
<div class="container group">
<div class="row">

<!-- START CONTENT -->
<div class="span12 content group">

<div class="page type-page status-publish hentry group">

<!-- <script>
    jQuery(document).ready(function($){
        $('.sidebar').remove();

        if( !$('#primary').hasClass('sidebar-no') ) {
            $('#primary').removeClass().addClass('sidebar-no');
            $('.content').removeClass('span9').addClass('span12');
        }

    });
</script> -->

<div class="row">

    <ul id="portfolio" class="pinterest pinterest thumbnails">
    <li  class="work span3">
        <div class="thumbnail">

            <div class="picture_overlay">
                <img width="260" height="246" src="images/portfolios/00310-260x246.jpg" class="attachment-thumb_portfolio_pinterest" alt="003" />
            </div>


            <h4>Name</a>
            </h4>

            <p>description</p>

            <div class="work-skillsdate">
                <p>
                    <span class="meta-label">Title:</span> Nili Studios
                </p>
                <p>
                    <span class="meta-label">Title:</span> 2011
                </p>
            </div>
        </div>
    </li>
    <li  class="work span3">
        <div class="thumbnail">

            <div class="picture_overlay">
                <img width="260" height="246" src="images/portfolios/00310-260x246.jpg" class="attachment-thumb_portfolio_pinterest" alt="003" />
            </div>


            <h4>Name</a>
            </h4>

            <p>description</p>

            <div class="work-skillsdate">
                <p>
                    <span class="meta-label">Title:</span> Nili Studios
                </p>
                <p>
                    <span class="meta-label">Title:</span> 2011
                </p>
            </div>
        </div>
    </li>
    <li  class="work span3">
        <div class="thumbnail">

            <div class="picture_overlay">
                <img width="260" height="246" src="images/portfolios/00310-260x246.jpg" class="attachment-thumb_portfolio_pinterest" alt="003" />
            </div>


            <h4>Name</a>
            </h4>

            <p>description</p>

            <div class="work-skillsdate">
                <p>
                    <span class="meta-label">Title:</span> Nili Studios
                </p>
                <p>
                    <span class="meta-label">Title:</span> 2011
                </p>
            </div>
        </div>
    </li>
    <li  class="work span3">
        <div class="thumbnail">

            <div class="picture_overlay">
                <img width="260" height="246" src="images/portfolios/00310-260x246.jpg" class="attachment-thumb_portfolio_pinterest" alt="003" />
            </div>


            <h4>Name</a>
            </h4>

            <p>description</p>

            <div class="work-skillsdate">
                <p>
                    <span class="meta-label">Title:</span> Nili Studios
                </p>
                <p>
                    <span class="meta-label">Title:</span> 2011
                </p>
            </div>
        </div>
    </li>
    <li  class="work span3">
        <div class="thumbnail">

            <div class="picture_overlay">
                <img width="260" height="246" src="images/portfolios/00310-260x246.jpg" class="attachment-thumb_portfolio_pinterest" alt="003" />
            </div>


            <h4>Name</a>
            </h4>

            <p>description</p>

            <div class="work-skillsdate">
                <p>
                    <span class="meta-label">Title:</span> Nili Studios
                </p>
                <p>
                    <span class="meta-label">Title:</span> 2011
                </p>
            </div>
        </div>
    </li>
    </ul>

<div class='general-pagination group'>
    <a href='home-ii.html' class='selected' >1</a>
    <a href='#' >2</a>
    <a href='#'>&rsaquo;</a>
</div>
</div>

<!-- <script type="text/javascript">
    jQuery(document).ready(function($){
        var container = $('#portfolio');
        container.imagesLoaded( function(){
            container.masonry({
                itemSelector: '.span3'
            });
        });

        $(window).resize(function(){
            $('#portfolio').masonry({
                itemSelector: '.span3'
            });
        })
    });
</script> -->
</div>
<!-- START COMMENTS -->
<div id="comments"></div>
<!-- END COMMENTS -->
</div>
<!-- END CONTENT -->

<!-- START EXTRA CONTENT -->
<!-- END EXTRA CONTENT -->

</div>
</div>
</div>
<!-- END PRIMARY -->


<!-- START COPYRIGHT -->
<div id="copyright">
    <div class="container">
        <div class="row">
            <div class="left span6">
            </div>
            <div class="right span6">
            </div>
        </div>
    </div>
</div>
<!-- END COPYRIGHT -->

</div>
<!-- END WRAPPER -->

</div>
<!-- END BG SHADOW -->



<!-- START CUSTOM SCRIPT -->
<!-- END CUSTOM SCRIPT -->

<!-- <script type='text/javascript' src='js/jquery.colorbox-min.js'></script> -->
<!-- <script type='text/javascript' src='js/jquery.flexslider-min.js'></script> -->
<!-- <script type='text/javascript' src='js/jquery.tweetable.js'></script> --><!--
<script type='text/javascript' src='js/jquery.superfish.js'></script>
<script type='text/javascript' src='portfolios/filterable/js/jquery.filterable.js'></script>
<script type='text/javascript' src='js/jquery.tipsy.js'></script>
<script type='text/javascript' src='js/responsive.js'></script>
<script type='text/javascript' src='js/jquery.mobilemenu.js'></script>
<script type='text/javascript' src='js/shortcodes.js'></script>
<script type='text/javascript' src='js/jquery/jquery.masonry.min.js'></script>
<script type="text/javascript" src="js/jquery.cycle.min.js"></script>
<script type='text/javascript' src='js/jquery.custom.js'></script> -->

</body>
<!-- END BODY -->
</html>
